@import '../../partials/main';

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // animation: slideIn ease-in 0.5s;
    // -webkit-animation: slideIn ease-in 0.5s;
    // -moz-animation: slideIn ease-in 0.5s;
    // -o-animation: slideIn ease-in 0.5s;
    // -ms-animation: slideIn ease-in 0.5s;
    // .hero-top{
    //     background-color: $lightgrey;
    //     height: 40vh;
    //     }
    // }
    .hero-mid{
        background-image: url('../../assets/images/Pic.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
        border-radius: 50%;
        display: block;
        // position: absolute;
        height: 15rem;
        width: 15rem;
        margin: 4rem auto 2rem auto;
        @include tablet{
            height: 20rem;
            width: 20rem;
            margin: 4rem auto 2rem auto;
        }
        @include desktop{
            height: 20rem;
            width: 20rem;
        }
    }
    .hero-bot{
        flex-basis: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        margin-bottom: 2rem;
        @include tablet{
            // margin-top: 3rem;
            height: auto;
            width: 50%;
            margin-bottom: 3rem;
        }
        @include desktop{
            height: auto;
            width: 50%;
            margin-bottom: 3rem;
        }
        &__message{
            text-transform: uppercase;
            text-align: center;
            margin: 1rem 0;
            letter-spacing: 0.25rem;
            width: 50%;
        }
        &__description{
            display: block;
            text-align: center;
            font-weight: 400;
            width: 50%;
            .link{
                text-decoration: none;
                color: black;
            }
            .link:hover{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
.skills{
    display: block;
    background-color: $lightgrey;
    padding: 2rem 0;
    // animation: slideIn ease-in 0.5s;
    // -webkit-animation: slideIn ease-in 0.5s;
    // -moz-animation: slideIn ease-in 0.5s;
    // -o-animation: slideIn ease-in 0.5s;
    // -ms-animation: slideIn ease-in 0.5s;
    .skills-top{
        margin: 1rem 3rem;
        @include tablet{
            margin: 1rem 6rem;
        }
        @include desktop{
            margin: 1rem 12rem;
        }
        .skills-header{
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            margin-bottom: 1rem;
        }
        .skills-background{
            margin: 1.5rem 0;
            width: 88%;
        }
    }
    .skills-bot{
        margin: 1rem 3rem;
        @include tablet{
            margin: 1rem 6rem;
        }
        @include desktop{
            margin: 1rem 12rem;
        }
        .skills-list{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            @include tablet{
                width: 70%;
            }
            @include desktop{
                width: 70%;
            }
            &__type{
                flex-basis: 100%;
                text-transform: uppercase;
                letter-spacing: 0.25rem;
                margin: 1rem 0;
            }
            &__item{
                flex-basis: 45%;
                margin-left: 1rem;
                margin-bottom: 0.5rem;
                font-size: 0.875rem;
                @include tablet{
                    font-size: 1.3rem;
                    flex-basis: 30%;
                    margin-bottom: 1rem;
                }
                @include desktop{
                    font-size: 1.3rem;
                    flex-basis: 25%;
                    margin-bottom: 1rem;
                }
            }
            &__item::before{
                content: "○            ";
                color: $orange; 
            }
        }
    }
}
}