@import '../../../partials/main';

.project{
    display: flex;
    flex-wrap: wrap;
    .project-top{
        margin: 1rem 3rem;
        @include tablet{
            margin: 1rem 6rem;
        }
        @include desktop{
            margin: 1rem 12rem;
        }
        .project-header{
            flex-basis: 100%;
            margin-top: 1rem;
            letter-spacing: 0.25rem;
            @include tablet{
                margin-top: 2rem;
            }
            @include desktop{
                margin-top: 2rem;
            }
        }
        .project-image{
            width: 100%;
            border-radius: 10px;
            margin: 1rem 0;
        }
        .project-description{
            color: $grey;
            margin: 1rem 0;
        }
        .tech-stack{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            &__header{
                flex-basis: 100%;
                text-transform: uppercase;
                letter-spacing: 0.25rem;
                margin: 1rem 0;
            }
            &__item{
                margin-bottom: 0.5rem;
                font-size: 0.875rem;
                flex-basis: 100%;
                @include tablet{
                    font-size: 1.3rem;
                    margin-bottom: 1rem;
                    flex-basis: 50%;
                }
                @include desktop{
                    font-size: 1.3rem;
                    margin-bottom: 1rem;
                    flex-basis: 50%;
                }
            }
            &__item::before{
                content: "○            ";
                color: $orange; 
            }
            &__type{
                letter-spacing: 0.1rem;
            }
            &__description--small{
                width: 80%;
                font-size: 0.875rem;
                @include tablet{
                    font-size: 1.2rem;
                }
                @include desktop{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .project-mid{
        display: flex;
        width: 100vw;
        justify-content: center;
        background-color: #ADA7A7;
        &__image{
            width: 100%;
            padding: 1rem;
            @include tablet{
                width: 700px;
            }
            @include desktop{
                width: 1100px;
            }
        }
    }
    .project-bot{
        margin: 1rem 3rem;
        @include tablet{
            margin: 1rem 6rem;
        }
        @include desktop{
            margin: 1rem 12rem;
        }
        .demo-header{
            flex-basis: 100%;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            margin: 1rem 0;
            @include tablet{
                margin: 2rem 0;
                margin-top: 3rem;
            }
            @include desktop{
                margin: 2rem 0;
                margin-top: 3rem;
            }
        }
        .feature-header{
            flex-basis: 100%;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            margin-bottom: 1rem;
        }
        .feature-header--last{
            margin-top: 2rem;
        }
        .demo{
            display: flex;
            flex-wrap: wrap;
            &__visuals{
                width: 300px;
                border-radius: 0.5rem;
                margin: 1rem auto;
                margin-bottom: 0;
                @include tablet{
                    width: 700px;
                    margin: 1rem auto;
                    margin-bottom: 0;
                }
                @include desktop{
                    width: 1100px;
                    margin: 1rem auto;
                    margin-bottom: 0;
                }
            }
            &__visual-description{
                text-align: center;
                margin: auto;
                margin-top: 2px;
                color: black;
                flex-basis: 100%;
            }
            &__description{
                color: $grey;
                margin: 1rem 0;
                @include tablet{
                    line-height: 2;
                    margin: 2rem auto;
                    width: 700px;
                }
                @include desktop{
                    margin: 2rem auto;
                    width: 1100px;
                }
            }
            &__description:last-child{
                margin-bottom: 3rem;
            }
        }
    }
}
.links{
    .links-tag{
        text-decoration: none;
        color: $grey;
    }
    .links-tag:hover{
        transition-duration: 0.5s;
        font-weight: 500;
        color: black;
    }
}
