// slideIn

@keyframes slideIn{
    from{
        opacity: 0;
        // transform: translateY(-100%);
    }
    to{
        opacity: 1;
        // transform: translateY(0);
    }
}
@-moz-keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
@-webkit-keyframes slideIn{
    from{
        opacity: 0;
        // transform: translateY(-100%);
    }
    to{
        opacity: 1;
        // transform: translateY(0);
    }
  }
  
@-o-keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
@-ms-keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }