// slideIn
@keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@-moz-keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
@-webkit-keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
@-o-keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
@-ms-keyframes slideIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }


// drop down animation
@keyframes dropDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@-moz-keyframes dropDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
@-webkit-keyframes dropDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
@-o-keyframes dropDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
@-ms-keyframes dropDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }